<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Sobre Nosotros </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Schema Markup -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "X Construction",
          "url": "http://www.XConstruction.onrender.com/about_client",
          "logo": "https://img.icons8.com/ios-filled/50/x.png",
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+34 624 739 342",
            "contactType": "customer service"
          }],
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Las Ramblas",
            "addressLocality": "Barcelona",
            "addressRegion": "Europa",
            "postalCode": "08001",
            "addressCountry": "España"
          },
          "description": "X Construction es una empresa líder en el sector de la construcción. Nos especializamos en..."
        }
        </script>

        <!-- Open Graph -->
  <meta property="og:title" content="Sobre Nosotros | X Construction" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.XConstruction.onrender.com/about_client" />
  <meta property="og:image" content="/img/about.jpg" />
  <meta property="og:description" content="X Construction es una empresa líder en el sector de la construcción. Nos especializamos en..." />
  <meta property="og:site_name" content="X Construction" />

      <!-- Google Analytics -->

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NM5878E4JV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NM5878E4JV');
</script>


    <!-- Shorcut Icon -->
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/50/x.png" type="image/x-icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

     <!-- Topbar Start -->
 <div class="container-fluid px-5 d-none d-lg-block bg-black">
    <div class="row gx-5">
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white"> Nuestra Oficina</h6>
                    <span> <img class="spain-flag" src="https://usagif.com/wp-content/uploads/gifs/spanish-flag-4.gif" alt="">Barcelona, España </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center border-start border-end py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white">Envíanos un correo </h6>
                    <span>Xconstruction@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white">Llámanos </h6>
                    <span>+34 624 739 342 </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
       <!-- Navbar Start -->
       <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white custom-class"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/x.png" alt="x"/> CONSTRUCTION</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Inicio </a>
                    <a href="/about_client" class="nav-item nav-link">Sobre Nosotros</a>
                    <a href="/service_client" class="nav-item nav-link">Servicios</a>               
                     
                    <a href="/login" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block"> Iniciar Seccion como administrador <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Sobre Nosotros</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Inicio</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Sobre Nosotros </h6>
        </div>
    </div>
    <!-- Page Header Start -->


     <!-- About Start -->
     <div class="container-fluid py-6 px-5 bg-dark">
        <div class="row g-5">
            <div class="col-lg-7">
                <h1 class="display-5 text-uppercase mb-4 text-white">Somos <span class="text-primary">LÍDERES </span> EN PRODUCTOS DE CONSTRUCCIÓN </h1>
                <h4 class="text-uppercase mb-3 text-body">La mejor calidad y confiablidad para tus productos </h4>
                <p>¿Estás buscando los mejores productos de construcción para tu proyecto? ¡No busques más! En nuestra tienda, encontrarás una amplia variedad de productos de construcción de alta calidad que te ayudarán a hacer realidad tus sueños.
                    Nuestro catálogo incluye desde herramientas y materiales básicos hasta productos especializados para proyectos más complejos. Contamos con productos de marcas reconocidas que garantizan su durabilidad y rendimiento.</p>
                <div class="row gx-5 py-2">
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Perfecta Planificación</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i> Trabajadores Profesionales</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Productos con calidad comprobada</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Enfoque Impecable </p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Tienda Fisica y Virtual</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Entrega Inmediata </p>
                    </div>
                </div>
                <p class="mb-4">No pierdas más tiempo buscando en diferentes lugares, ven a nuestra tienda y descubre todo lo que tenemos para ti. Estamos seguros de que encontrarás los productos que necesitas y que superarán tus expectativas.</p>
                <img src="/img/signature.jpg" alt="">
            </div>
            <div class="col-lg-5 pb-5" style="min-height: 400px;">
                <div class="position-relative bg-dark-radial h-100 ms-5">
                    <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


  <!-- Appointment Start -->
  <div class="container-fluid py-6 px-5 bg-dark">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4 text-light">Solicita una <span class="text-primary">Llamada</span></h1>
            </div>
            <p class="mb-5">Al solicitar una llamada, podrás discutir tus necesidades específicas, hacer preguntas y recibir recomendaciones personalizadas. Aprovecha esta oportunidad para obtener asesoramiento de expertos y comenzar a convertir tu sueño en realidad.

                No importa cuán grande o pequeño sea tu proyecto, estamos aquí para ayudarte. Nuestra pasión por la construcción y nuestro compromiso con la satisfacción del cliente nos distinguen de la competencia. ¡No esperes más y solicita una llamada en nuestro sitio web ahora mismo!
                
                Recuerda que nuestros servicios están disponibles tanto para clientes residenciales como comerciales, y nos enorgullece ofrecer soluciones personalizadas para cada situación. No importa cuáles sean tus necesidades, nuestro equipo está listo para brindarte el apoyo necesario durante todo el proceso de construcción.</p>
            
        </div>
        <div class="col-lg-8">
            <div class="bg-light text-center p-5">
                <form>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control border-0" placeholder="Tu nombre" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control border-0" placeholder="Tu Correo" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="date" id="date" data-target-input="nearest">
                                <input type="text"
                                    class="form-control border-0 datetimepicker-input"
                                    placeholder="Fecha de la Llamada" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="time" id="time" data-target-input="nearest">
                                <input type="text"
                                    class="form-control border-0 datetimepicker-input"
                                    placeholder="Fecha de la Llamada" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control border-0" rows="5" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar Solicitud</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->


    <!-- Team Start -->
    <div class="container-fluid py-6 px-5 bg-black">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4 text-light"> Somos <span class="text-primary">Trabajadores </span> Profesionales y Expertos </h1>
        </div>
        <div class="row g-5">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="team1" src="/img/team-1.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase">Adam Phillips</h4>
                            <span class="text-dark">Director y Fundador </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="team2"  src="/img/team-2.jpg"  style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase">Dylan Adams</h4>
                            <span class="text-dark">Ingeniero civil</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="team3" src="/img/team-3.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase">Jhon Doe</h4>
                            <span class="text-dark">Diseñador de interiores</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="team4" src="/img/team-4.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase">Josh Dunn</h4>
                            <span class="text-dark">Pintor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>