<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel='stylesheet' href='/stylesheets/addFeature.css'/>
    <link rel="shortcut icon" href="https://img.icons8.com/sf-black/64/plus-math.png" type="image/x-icon">
    <title> Agregar Categoría </title>
</head>
<body>
    <form method="POST" action="/index/add-feature">
        <div class="feature-add-section">
            <h2>Agregar Categoría </h2>
            <div class="input-group">
                <input type="text" class="form-control" name="featureName" placeholder="Nombre de la Categoría">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" name="idFeature" placeholder="ID de la Categoría">
            </div>
            <div class="input-group-append">
                <button class="btn btn-square" type="submit"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </form>
</body>
</html>