<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel='stylesheet' href='/stylesheets/editFeature.css'/>
    <link rel="shortcut icon" href="https://img.icons8.com/glyph-neue/128/edit--v1.png" type="image/x-icon">
    <title> Editar Categoría</title>
</head>
<body>
    <form method="POST" action="/edit-feature/<%= feature.id %>">
        <div class="feature-add-section">
            <h2>Editar Categoría </h2>
            <div class="input-group">
                <input type="text" class="form-control" name="featureName" placeholder="Nuevo Nombre">             
            </div>
            <div class="input-group">
                <input type="text" class="form-control" name="idFeature" placeholder="Nuevo ID">             
            </div>
            <div class="input-group-append">
                <button class="btn btn-square" type="submit"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </form>
</body>
</html>