<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Servicios </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
   
    <!-- Shorcut Icon -->
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/50/x.png" type="image/x-icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
 <!-- Topbar Start -->
 <div class="container-fluid px-5 d-none d-lg-block bg-black">
    <div class="row gx-5">
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white"> Nuestra Oficina</h6>
                    <span> <img class="spain-flag" src="https://usagif.com/wp-content/uploads/gifs/spanish-flag-4.gif" alt="">Barcelona, España </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center border-start border-end py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white">Envíanos un correo </h6>
                    <span>Xconstruction@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold text-white">Llámanos </h6>
                    <span>+34 624 739 342 </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


 <!-- Navbar Start -->
 <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
    <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
        <a href="/" class="navbar-brand">
            <h1 class="m-0 display-4 text-uppercase text-white custom-class"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/x.png" alt="x"/> CONSTRUCTION</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Inicio </a>
                <a href="/about_client" class="nav-item nav-link">Sobre Nosotros</a>
                <a href="/service_client" class="nav-item nav-link">Servicios</a>               
                 
                <a href="/login" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block"> Iniciar Seccion como administrador <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Servicios</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Inicio</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Servicios</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Services Start -->
    <div class="container-fluid bg-dark py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4 text-white">Le brindamos <span class="text-primary">El mejor </span> Servicio </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="https://img.freepik.com/free-vector/delivery-staff-ride-motorcycles-shopping-concept_1150-34879.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701302400&semt=sph" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-building text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Delivery Express </h4>
                        <p class="text-dark">¡Delivery Express, la solución rápida y práctica para recibir tus productos en la puerta de tu hogar!
                            En estos tiempos tan ajetreados, cuando el tiempo es oro y la comodidad es primordial, surge Delivery Express, tu aliado perfecto para recibir todo lo que necesitas sin preocupaciones ni contratiempos.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="https://m.media-amazon.com/images/I/41HDdP9X8fL.jpg" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-check text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Calidad Provada </h4>
                        <p class="text-dark">                            
                            Nuestra marca se enorgullece de ofrecer productos de calidad probada que garantizan la satisfacción de nuestros clientes. Cada uno de nuestros productos ha sido rigurosamente inspeccionado y sometido a pruebas exhaustivas para asegurar su rendimiento óptimo y durabilidad.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="/img/service-3.jpg" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-drafting-compass text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">DISEÑO ARQUITECTÓNICO</h4>
                        <p class="text-dark">Si estás buscando un diseño arquitectónico que despierte emociones y deje una impresión duradera, no dudes en contactarnos. Estaremos encantados de convertir tu visión en realidad y ofrecerte un diseño arquitectónico que atraiga y deleite a tus clientes.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="/img/service-4.jpg" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-palette text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">DISEÑO DE INTERIORES</h4>
                        <p class="text-dark">Trabajamos de la mano contigo para comprender tus necesidades y preferencias, y así poder crear un diseño que supere tus expectativas. Ya sea que desees renovar una habitación específica o darle un nuevo aire a todo tu hogar, nuestro equipo cuenta con la experiencia y la creatividad necesaria para lograrlo.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="/img/service-5.jpg" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-tools text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">REPARACIÓN Y SOPORTE</h4>
                        <p class="text-dark">En nuestra empresa, nos especializamos en la reparación y soporte de artículos de construcción para ofrecerte un servicio confiable y eficiente.
                            Entendemos que tus herramientas y equipos son fundamentales en tu trabajo y que cualquier falla puede significar retrasos en tus proyectos. Por eso, ponemos a tu disposición nuestro equipo de profesionales altamente capacitados y con años de experiencia en el sector.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src="/img/service-6.jpg" alt="">
                    <div class="service-icon bg-white">
                        <i class="fa fa-3x fa-paint-brush text-primary"></i>
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Pintura</h4>
                        <p class="text-dark">¿Estás buscando darle un toque de estilo y personalización a tus artículos de construcción? ¡No busques más! En nuestro negocio nos especializamos en la pintura de artículos de construcción para añadir ese detalle que los hace únicos.
                            Sabemos lo importante que es para ti destacar entre la competencia y llamar la atención de tus clientes. Por eso, ofrecemos una amplia variedad de colores y acabados para que puedas encontrar el ideal que se adapte a tu estilo y necesidades. Además, nuestra pintura de alta calidad garantiza una durabilidad excepcional, resistente a los elementos y al desgaste diario</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


      <!-- Appointment Start -->
      <div class="container-fluid py-6 px-5 bg-dark">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h1 class="display-5 text-uppercase mb-4 text-light">Solicita una <span class="text-primary">Llamada</span></h1>
                </div>
                <p class="mb-5">Al solicitar una llamada, podrás discutir tus necesidades específicas, hacer preguntas y recibir recomendaciones personalizadas. Aprovecha esta oportunidad para obtener asesoramiento de expertos y comenzar a convertir tu sueño en realidad.

                    No importa cuán grande o pequeño sea tu proyecto, estamos aquí para ayudarte. Nuestra pasión por la construcción y nuestro compromiso con la satisfacción del cliente nos distinguen de la competencia. ¡No esperes más y solicita una llamada en nuestro sitio web ahora mismo!
                    
                    Recuerda que nuestros servicios están disponibles tanto para clientes residenciales como comerciales, y nos enorgullece ofrecer soluciones personalizadas para cada situación. No importa cuáles sean tus necesidades, nuestro equipo está listo para brindarte el apoyo necesario durante todo el proceso de construcción.</p>
                
            </div>
            <div class="col-lg-8">
                <div class="bg-light text-center p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Tu nombre" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Tu Correo" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text"
                                        class="form-control border-0 datetimepicker-input"
                                        placeholder="Fecha de la Llamada" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text"
                                        class="form-control border-0 datetimepicker-input"
                                        placeholder="Fecha de la Llamada" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" rows="5" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Enviar Solicitud</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


   <!-- Testimonial Start -->
   <div class="container-fluid bg-dark py-6 px-5"> 
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4 text-light">Lo que dicen <span class="text-primary">Nuestros Clientes Felices!!! </span> </h1>
    </div>
    <div class="row gx-0 align-items-center">
        <div class="col-xl-4 col-lg-5 d-none d-lg-block">
            <img class="img-fluid w-100 h-100" src="/img/testimonial.jpg">
        </div>
        <div class="col-xl-8 col-lg-7 col-md-12">
            <div class="testimonial bg-light">
                <div class="owl-carousel testimonial-carousel">
                    <div class="row gx-4 align-items-center">
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="/img/testimonial-1.jpg" alt="">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7">
                            <h4 class="text-uppercase mb-0">Carlos López</h4>
                            <p class="text-dark">Ingeniero Civil</p>
                            <p class="fs-5 mb-0 text-dark"><i class="fa fa-2x fa-quote-left text-primary me-2"></i> Como ingeniero civil con 20 años de experiencia, siempre busco la mejor calidad y precio en materiales de construcción. XConstruction ofrece una gran variedad de productos a precios competitivos, y su atención al cliente es excelente. Recomiendo encarecidamente este sitio web a cualquier persona que necesite comprar materiales de construcción.</p>
                        </div>
                    </div>
                    <div class="row gx-4 align-items-center">
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="/img/testimonial-2.jpg" alt="">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7">
                            <h4 class="text-uppercase mb-0">Marta Fernández </h4>
                            <p class="text-dark">Arquitecta </p>
                            <p class="fs-5 mb-0 text-dark"><i class="fa fa-2x fa-quote-left text-primary me-2"></i> Como arquitecta con 10 años de experiencia, siempre busco la mejor calidad y precio en materiales de construcción. XConstruction ofrece una gran variedad de productos de alta calidad a precios competitivos, y su servicio al cliente es excelente. Recomiendo encarecidamente este sitio web a cualquier profesional de la construcción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->





    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>