<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <meta charset="utf-8">
    <title>Iniciar sesión</title>
    <link rel='stylesheet' href='/stylesheets/singin.css'/>
    <link rel="shortcut icon" href="https://positka.com/web/storage/app/public/users/October2022/J35BtbND0flVqM4IDdcq.png" type="image/x-icon">
 </head>
 <body>
    <section>
      <div class="imgBx">
        <img src="https://media.istockphoto.com/id/129301069/es/foto/trabajadores-de-pie-juntos-en-shipyard.jpg?s=612x612&w=0&k=20&c=-JrzwRlTnTNJ7G8c-cvAvXxuY4vmYm0-zVp__TMVEic=" alt="">
      </div>
      <div class="contentBx">
        <div class="formBx">
          <h2> Iniciar sesión </h2>
          <form class="" action="/signin" method="post">
            <div class="inputBx">
              <span>Correo electrónico </span>
              <input type="email" name="email" value="" required>
            </div>
            <div class="inputBx">
              <span>Contraseña </span>
              <input type="password" name="password" value="" required>
            </div>           
            <div class="inputBx">              
              <input type="submit" name="" value="Iniciar sesión">
            </div>
            <div class="inputBx">
              <p> ¿No tienes una cuenta? <a href="/signup"> Registrarse </a></p>
            </div>
          </form>        

        </div>
      </div>
    </section>
 </body>
</html>