<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro Exitoso</title>
    <!-- Add any CSS stylesheets or links to external CSS files if needed -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel='stylesheet' href='/stylesheets/success.css'/>
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/250/228BE6/ok--v1.png" type="image/x-icon">
  </head>
  <body>
    <div class="success-container">
      <div class="success-icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <h1>Excelente!</h1>
      <p>Se ha registrado exitosamente</p>
    </div>
  </body>
</html>
