<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://img.icons8.com/emoji/96/check-mark-emoji.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/success_login.css'/>    
  <title>Success Page</title>
</head>
<body>
  <div class="container">
    <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/checkmark.png" alt="checkmark"/>
    <h1 class="text">Inicio de sesión exitoso </h1>        
    <p class="success-message"> Felicitaciones! Has Iniciado sesión exitosamente </p>
    <a href="/" class="my-button"> Regresar a la página de incio </a>
    
  </div>
</body>
</html>