<!DOCTYPE html>
<html>
    <head>
        <title>Iniciar Sesi칩n</title>
        <link rel='stylesheet' href='/stylesheets/login.css'/>
        <link rel="shortcut icon" href="https://img.icons8.com/fluency/96/enter-2.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>        
        <div class="container">
            <div class="img">
                <img src="/images/login.jpg">
            </div>
            <div class="login-content">
                <form action="#" method="POST">
                    <img src="/images/avatar1.png">
                    <h2 class="title">Bienvenido</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Nombre de usuario</h5>
                            <input type="text" class="input" id="username" name="username" required>
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Contrase침a</h5>
                            <input type="text" class="input" id="password" name="password" required>
                        </div>
                    </div>
                    <a href="#">Olvidaste la contrase침a?</a>
                    <input type="submit" class="btn" value="Iniciar sesi칩n">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>

